@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    flex-grow: 1;
}

.section1,
.section2,
.section3,
.section4 {
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100vw;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: 25px;
    border-radius: 7px;
    border: 1px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
}

.section1 {
    padding-top: 0;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#headerlogo {
    color: #F9FAF8;
    height: 50px;
}

ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

.main {
    display: flex;
    align-items: center;
}

.left1 {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    max-width: 50vw;
    gap: 0;
}

.hero {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

.right1 {
    background-color: grey;
    max-width: auto;
    max-height: 500px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 {
    display: flex;
    gap: 25px;
}

.imgandtxt {
    height: 250opx;
    width: 250px;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.img2 {
    align-items: center;
    border: 5px #3882F6;
    max-height: 250px;
    max-width: 250px;
}

.section3 {
    background-color: #E5E7EB;
    flex-direction: column;

}

.p3 {
    margin-left: 15vw;
    margin-right: 15vw;
}

.quote {
    align-self: flex-end;
    margin-left: 15vw;
    margin-right: 15vw;
}

.p3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.section4 {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 7px;
}

.call {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 24px;
}

.secondcall {
    font-size: 12px;
    font-weight: lighter;
    padding: 0;
}

.button4 {
    border-color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;

    padding: 25px;
}